@charset "utf-8";
/* # Base rules

This style sheet attempts to show how CSS selectors can be limited to no more
than a single class (although there are exceptions). Keeping to such a
restriction helps contain the styling to a module and allows for easier
sub-classes of modules. It also enables the surgical classes (below) to work.
*/
/* ## Universal rules

Every element is affected by these classes.

*/
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* ## Basic fonts

All fonts inherit from the `body` tag, so we have some basic font family, size
and line-height applied.

The `html` element has `text-size-adjust` set to `100%` to prevent iOS text size
adjust after orientation change, without disabling user zoom.
`abbr[title]` has a `border-bottom` defined and `b` and `strong` have had their
`font-weight`s normalised to `bold`.
Taken from [Normalize.css](http://necolas.github.io/normalize.css/).
 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  background-color: #ffffff;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}
p,
ul,
ol,
dl,
blockquote,
pre {
  margin-bottom: 20px;
}
ul,
ol {
  margin-left: 20px;
}
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
b,
strong {
  font-weight: bold;
}
a {
  color: #F00;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #cc0000;
  text-decoration: underline;
}
/* ## Block-level Elements

Some browsers don't have `display` set to `block` by default. This snippit
corrects that. Taken from [Normalize.css](http://necolas.github.io/normalize.css/).

    <article>article element</article>
    <aside>aside element</aside>
    <details>details element</details>
    <figcaption>figcaption element</figcaption>
    <figure>figure element</figure>
    <footer>footer element</footer>
    <header>header element</header>
    <hgroup>hgroup element</hgroup>
    <main>main element</main>
    <menu>menu element</menu>
    <nav>nav element</nav>
    <section>section element</section>
    <summary>summary element</summary>

 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/* ## Headings

Heading elements have default styles styles, `h1` being the largest and `h6`
being the smallest. They all have a default `font-family` and `font-weight`.

    <h1>Headline</h1>
    <h2>Sub headline</h2>
    <h3>By line</h3>
    <h4>Stand-out</h4>
    <h5>Attention</h5>
    <h6>Minor</h6>

The styles also have complimentary class names `.h1` to `.h6`. This allows the
classes to be applied to any element, including headings, and apply the desired
styles. This is very handy when an SEO company asks for the markup to change but
the design should not.

    <h2 class="h1">Headline (but an h2)</h2>
    <p class="h2">Sub headline (but a p)</p>
    <p><strong class="h3">By line (but a strong)</strong></p>
    <p><span class="h4">Stand-out (but a span)</strong></p>
    <div class="h5">Attention (but a div)</div>
    <h1 class="h6">Minor (but an h1)</h1>

Additionally there is an `h0` class that can be applied to a heading element to
make it look like any other piece of text.

    <h1 class="h0">Headline</h1>
    <h2 class="h0">Sub headline</h2>
    <h3 class="h0">By line</h3>
    <h4 class="h0">Stand-out</h4>
    <h5 class="h0">Attention</h5>
    <h6 class="h0">Minor</h6>

*/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}
h1,
.h1 {
  font-size: 32px;
}
h2,
.h2 {
  font-size: 28px;
}
h3,
.h3 {
  font-size: 25px;
}
h4,
.h4 {
  font-size: 21px;
}
h5,
.h5 {
  font-size: 18px;
}
h6,
.h6 {
  font-size: 16px;
}
.h0 {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
/* ## Tables

Remove most spacing between table cells. Taken from
[Normalize.css](http://necolas.github.io/normalize.css/)

    <table>
        <thead>
            <tr>
                <th>One</th>
                <td>Two</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Three</th>
                <td>Four</td>
            </tr>
        </tbody>
    </table>

*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}
thead,
tbody,
tr,
th,
td {
  border-color: inherit;
}
/* ## Sub-text and Super-text

Prevent `sub` and `sup` affecting `line-height` in all browsers. Taken from
[Normalize.css](http://necolas.github.io/normalize.css/).

    <p>Normal text<br>
        and line-height.</p>
    <p>H<sub>2</sub>0<br>
        x<sup>2</sup></p>

 */
sub,
sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ## Images

Images should have no border by default. This sort issues in older versions of
Internet Explorer.

    <p><img src="https://placekitten.com/g/200/300"></p>
    <p><a href="#"><img src="https://placekitten.com/g/200/300"></a></p>

The `img` class makes the image scale to the container.

    <div style="border:1px solid red; width:250px;">
        <img src="https://placekitten.com/g/200/300" class="img">
    </div>
    <div style="border:1px solid red; width:100px;">
        <img src="https://placekitten.com/g/200/300" class="img">
    </div>

 */
img {
  border: none;
}
.img {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
/* # Utilities

Utility classes are frequently used styling patterns. They are the only classes
in this style sheet that are allowed to know anything about the child elements
(although this should be limited to the immediate children using the direct
decendant selector `>`). 
*/
/* ## Clearfix

The micro clearfix popularised by [Nicholas
Gallacher](http://nicolasgallagher.com/micro-clearfix-hack/). It simply makes
the parent contain all floats.

    <div class="u-clearfix" style="border: 1px dotted red; width: 250px;">
        <div style="float: left; width: 100px;">alpha</div>
        <div style="float: right; width: 100px;">bravo<br>charlie</div>
    </div>

*/
.u-clearfix::before,
.u-clearfix::after,
.u-floated::before,
.u-floated::after,
.u-floatright::before,
.u-floatright::after,
.u-floatsplit::before,
.u-floatsplit::after {
  content: "";
  display: block;
}
.u-clearfix::after,
.u-floated::after,
.u-floatright::after,
.u-floatsplit::after {
  clear: both;
}
/* ## Self-contained floats

Functionally identical to `u-clearfix` except that the children are
automatically floated to the left.

    <div class="u-floated" style="border: 1px dotted red; width: 250px;">
        <div style="width: 100px;">alpha</div>
        <div style="width: 100px;">bravo<br>charlie</div>
    </div>

*/
.u-floated > * {
  float: left;
}
/* ## Self-contained inverted floats

Exactly the same as `u-floated` except that elements are floated to the right,
not the left. Beware that this can appear to reverse the order of the elements.

    <div class="u-floatright" style="border: 1px dotted red; width: 250px;">
        <div style="width: 100px;">alpha</div>
        <div style="width: 100px;">bravo<br>charlie</div>
    </div>

*/
.u-floatright > * {
  float: right;
}
/* ## Self-contained split floats

Designed primarily for an element containing **2** children, the first is
floated to the left, the second is floated to the right.

    <div class="u-floatsplit" style="border: 1px dotted red; width: 250px;">
        <div style="width: 100px;">alpha</div>
        <div style="width: 100px;">bravo<br>charlie</div>
    </div>

*/
.u-floatsplit > :first-child {
  float: left;
}
.u-floatsplit > :last-child {
  float: right;
}
/* ## Bulletless lists

Removes bullet points from a list. Works on unordered lists (`<ul>`) and ordered
lists (`<ol>`) the same.

    <ul class="u-bulletless">
        <li>alpha</li>
        <li>bravo</li>
        <li>charlie</li>
    </ul>

*/
.u-bulletless,
.u-inlinelist,
.u-borderlist {
  list-style-type: none;
  margin-left: 0;
}
/* ## Inline lists

Removes the bullet points from a list _and_ floats the list items.

    <ul class="u-inlinelist">
        <li>alpha</li>
        <li>bravo</li>
        <li>charlie</li>
    </ul>

*/
.u-inlinelist,
.u-borderlist {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
/* ## Border lists

Makes the elements appear next to one-another and places a border in-between
each of them.

    <ul class="u-borderlist">
        <li>alpha</li>
        <li>bravo</li>
        <li>charlie</li>
    </ul>

*/
.u-borderlist {
  border-color: currentcolor;
}
.u-borderlist > * {
  border-color: inherit;
  border-left-style: solid;
  border-width: 1px;
  margin-left: 10px;
  padding-left: 10px;
}
.u-borderlist > *:first-child {
  border-left-style: none;
  margin-left: 0;
  padding-left: 0;
}
/* ## Vertical alignments

Vertically aligns test. There are three varients:

- `u-verttop` - Vertically aligns at the top.
- `u-vertmid` - Vertically aligns at the middle.
- `u-vertbottom` - Vertically aligns at the bottom.

    <div class="u-verttop" style="border: 1px dotted red; padding: 1em;">
        <p>alpha</p>
        <p>bravo<br>charlie</p>
    </div>

    <div class="u-vertmid" style="border: 1px dotted red; padding: 1em;">
        <p>alpha</p>
        <p>bravo<br>charlie</p>
    </div>

    <div class="u-vertbottom" style="border: 1px dotted red; padding: 1em;">
        <p>alpha</p>
        <p>bravo<br>charlie</p>
    </div>

*/
.u-verttop,
.l-media {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.u-vertmid,
.u-vertmiddle {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.u-vertbot,
.u-vertbottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
/* ## Reducers

Removes the natural margin from the top of the first element and the bottom of
the last one. Very handy for placing text within a box and having that box's
`padding` be the only white space.

    <div class="u-reduce" style="border: 1px dotted red; padding: 1em;">
        <p>alpha</p>
        <p>bravo</p>
        <p>charlie</p>
    </div>

*/
.u-reduce > :first-child {
  margin-top: 0;
}
.u-reduce > :last-child {
  margin-bottom: 0;
}
/* ## Margined elements.

Mainly useful for creating space between list items.

    <ul class="u-margined">
        <li>alpha</li>
        <li>bravo</li>
        <li>charlie</li>
    </ul>

*/
.u-margined > * {
  margin-bottom: 10px;
}
.u-margined > *:last-child {
  margin-bottom: 0;
}
/* # Layout

Structural classes. They are all prefixed with `l-` to separate them from 
modules.

*/
/* # Media Object

As popularised by [Nichole
Sullivan](http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/),
the media object places an image next to text. The image width does not need to
be known and the text will fill the remaining space.

The basic media object is an image on the left followed by text:

    <div class="l-media">
        <div class="l-media-left"><img src="http://placekitten.com/g/50/50"></div>
        <div class="l-media-body">(text)</div>
    </div>

An image on the right is possible.

    <div class="l-media">
        <div class="l-media-body">(text)</div>
        <div class="l-media-right"><img src="http://placekitten.com/g/50/50"></div>
    </div>

It is possible to place an image on both the left and the right.

    <div class="l-media">
        <div class="l-media-left"><img src="http://placekitten.com/g/50/50"></div>
        <div class="l-media-body">(text)</div>
        <div class="l-media-right"><img src="http://placekitten.com/g/50/50"></div>
    </div>

Media objects are nestable.

    <div class="l-media">
        <div class="l-media-left"><img src="http://placekitten.com/g/50/50"></div>
        <div class="l-media-body">

            (text)

            <div class="l-media">
                <div class="l-media-left"><img src="http://placekitten.com/g/50/50"></div>
                <div class="l-media-body">(text)</div>
            </div>

        </div>
    </div>

By default the content of media objects aligns vertically to the top,
`l-media-middle` and `l-media-bottom` exist to adjust the alignment.

    <div class="l-media l-media--middle">
        <div class="l-media-left"><img src="http://placekitten.com/g/50/50"></div>
        <div class="l-media-body">(text)</div>
    </div>

    <div class="l-media l-media--bottom">
        <div class="l-media-left"><img src="http://placekitten.com/g/50/50"></div>
        <div class="l-media-body">(text)</div>
    </div>

 */
.l-media--middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.l-media--bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.l-media-left,
.l-media-right {
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}
.l-media-body {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.l-media-right,
.l-media-padleft {
  padding-left: 10px;
}
.l-media-left,
.l-media-padright {
  padding-right: 10px;
}
/* ## Grid

The grid system defines columns for content. All columns have padding to
generate gutters. By default there are 12 columns in a grid, but this can be
configured in the variables.

### Main grid example.

    <div class="l-grid">
        <div class="l-grid-12">12</div>
    </div>
    <div class="l-grid">
        <div class="l-grid-1">1</div>
        <div class="l-grid-11">11</div>
    </div>
    <div class="l-grid">
        <div class="l-grid-2">2</div>
        <div class="l-grid-10">10</div>
    </div>
    <div class="l-grid">
        <div class="l-grid-3">3</div>
        <div class="l-grid-9">9</div>
    </div>
    <div class="l-grid">
        <div class="l-grid-4">4</div>
        <div class="l-grid-8">8</div>
    </div>
    <div class="l-grid">
        <div class="l-grid-5">5</div>
        <div class="l-grid-7">7</div>
    </div>
    <div class="l-grid">
        <div class="l-grid-6">6</div>
        <div class="l-grid-6">6</div>
    </div>

### Responsive grids

A column can be set to start working at a certain break point by using the `@`
rules:

    <div class="l-grid">
        <div class="l-grid-6 l-grid-4@md">6 by default, 4 on large screens</div>
        <div class="l-grid-6 l-grid-8@md">6 by default, 8 on large screens</div>
    </div>


### Offsetting

Grid columns can be offset by a column.

    <div class="l-grid">
        <div class="l-grid-1 l-grid-offset-11">1 (offset 11)</div>
    </div>
    <div class="l-grid">
        <div class="l-grid-2 l-grid-offset-10">2 (offset 10)</div>
    </div>
    <div class="l-grid">
        <div class="l-grid-3 l-grid-offset-9">3 (offset 9)</div>
    </div>
    <div class="l-grid">
        <div class="l-grid-4 l-grid-offset-8">4 (offset 8)</div>
    </div>
    <div class="l-grid">
        <div class="l-grid-5 l-grid-offset-7">5 (offset 7)</div>
    </div>
    <div class="l-grid">
        <div class="l-grid-6 l-grid-offset-6">6 (offset 6)</div>
    </div>
    <div class="l-grid">
        <div class="l-grid-7 l-grid-offset-5">7 (offset 5)</div>
    </div>
    <div class="l-grid">
        <div class="l-grid-8 l-grid-offset-4">8 (offset 4)</div>
    </div>
    <div class="l-grid">
        <div class="l-grid-9 l-grid-offset-3">9 (offset 3)</div>
    </div>
    <div class="l-grid">
        <div class="l-grid-10 l-grid-offset-2">10 (offset 2)</div>
    </div>
    <div class="l-grid">
        <div class="l-grid-11 l-grid-offset-1">11 (offset 1)</div>
    </div>

### Re-ordering

The column order can be set using the `l-grid-order-*` classes.

   <div class="l-grid">
        <div class="l-grid-1 l-grid-order-7">1</div>
        <div class="l-grid-1 l-grid-order-10">2</div>
        <div class="l-grid-1 l-grid-order-8">3</div>
        <div class="l-grid-1 l-grid-order-4">4</div>
        <div class="l-grid-1 l-grid-order-6">5</div>
        <div class="l-grid-1 l-grid-order-1">6</div>
        <div class="l-grid-1 l-grid-order-2">7</div>
        <div class="l-grid-1 l-grid-order-9">8</div>
        <div class="l-grid-1 l-grid-order-11">9</div>
        <div class="l-grid-1 l-grid-order-3">10</div>
        <div class="l-grid-1 l-grid-order-12">11</div>
        <div class="l-grid-1 l-grid-order-5">12</div>
    </div>

 */
.l-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.l-grid-12 {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.l-grid-order-12 {
  -webkit-box-ordinal-group: 13;
  -webkit-order: 12;
      -ms-flex-order: 12;
          order: 12;
}
.l-grid-11 {
  padding-left: 15px;
  padding-right: 15px;
  width: 91.66666667%;
}
.l-grid-offset-11 {
  margin-left: 91.66666667%;
}
.l-grid-order-11 {
  -webkit-box-ordinal-group: 12;
  -webkit-order: 11;
      -ms-flex-order: 11;
          order: 11;
}
.l-grid-10 {
  padding-left: 15px;
  padding-right: 15px;
  width: 83.33333333%;
}
.l-grid-offset-10 {
  margin-left: 83.33333333%;
}
.l-grid-order-10 {
  -webkit-box-ordinal-group: 11;
  -webkit-order: 10;
      -ms-flex-order: 10;
          order: 10;
}
.l-grid-9 {
  padding-left: 15px;
  padding-right: 15px;
  width: 75%;
}
.l-grid-offset-9 {
  margin-left: 75%;
}
.l-grid-order-9 {
  -webkit-box-ordinal-group: 10;
  -webkit-order: 9;
      -ms-flex-order: 9;
          order: 9;
}
.l-grid-8 {
  padding-left: 15px;
  padding-right: 15px;
  width: 66.66666667%;
}
.l-grid-offset-8 {
  margin-left: 66.66666667%;
}
.l-grid-order-8 {
  -webkit-box-ordinal-group: 9;
  -webkit-order: 8;
      -ms-flex-order: 8;
          order: 8;
}
.l-grid-7 {
  padding-left: 15px;
  padding-right: 15px;
  width: 58.33333333%;
}
.l-grid-offset-7 {
  margin-left: 58.33333333%;
}
.l-grid-order-7 {
  -webkit-box-ordinal-group: 8;
  -webkit-order: 7;
      -ms-flex-order: 7;
          order: 7;
}
.l-grid-6 {
  padding-left: 15px;
  padding-right: 15px;
  width: 50%;
}
.l-grid-offset-6 {
  margin-left: 50%;
}
.l-grid-order-6 {
  -webkit-box-ordinal-group: 7;
  -webkit-order: 6;
      -ms-flex-order: 6;
          order: 6;
}
.l-grid-5 {
  padding-left: 15px;
  padding-right: 15px;
  width: 41.66666667%;
}
.l-grid-offset-5 {
  margin-left: 41.66666667%;
}
.l-grid-order-5 {
  -webkit-box-ordinal-group: 6;
  -webkit-order: 5;
      -ms-flex-order: 5;
          order: 5;
}
.l-grid-4 {
  padding-left: 15px;
  padding-right: 15px;
  width: 33.33333333%;
}
.l-grid-offset-4 {
  margin-left: 33.33333333%;
}
.l-grid-order-4 {
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
      -ms-flex-order: 4;
          order: 4;
}
.l-grid-3 {
  padding-left: 15px;
  padding-right: 15px;
  width: 25%;
}
.l-grid-offset-3 {
  margin-left: 25%;
}
.l-grid-order-3 {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
}
.l-grid-2 {
  padding-left: 15px;
  padding-right: 15px;
  width: 16.66666667%;
}
.l-grid-offset-2 {
  margin-left: 16.66666667%;
}
.l-grid-order-2 {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}
.l-grid-1 {
  padding-left: 15px;
  padding-right: 15px;
  width: 8.33333333%;
}
.l-grid-offset-1 {
  margin-left: 8.33333333%;
}
.l-grid-order-1 {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}
@media (min-width: 480px) {
  .l-grid\@sm {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
  .l-grid-12\@sm {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
  .l-grid-order-12\@sm {
    -webkit-box-ordinal-group: 13;
    -webkit-order: 12;
        -ms-flex-order: 12;
            order: 12;
  }
  .l-grid-11\@sm {
    padding-left: 15px;
    padding-right: 15px;
    width: 91.66666667%;
  }
  .l-grid-offset-11\@sm {
    margin-left: 91.66666667%;
  }
  .l-grid-order-11\@sm {
    -webkit-box-ordinal-group: 12;
    -webkit-order: 11;
        -ms-flex-order: 11;
            order: 11;
  }
  .l-grid-10\@sm {
    padding-left: 15px;
    padding-right: 15px;
    width: 83.33333333%;
  }
  .l-grid-offset-10\@sm {
    margin-left: 83.33333333%;
  }
  .l-grid-order-10\@sm {
    -webkit-box-ordinal-group: 11;
    -webkit-order: 10;
        -ms-flex-order: 10;
            order: 10;
  }
  .l-grid-9\@sm {
    padding-left: 15px;
    padding-right: 15px;
    width: 75%;
  }
  .l-grid-offset-9\@sm {
    margin-left: 75%;
  }
  .l-grid-order-9\@sm {
    -webkit-box-ordinal-group: 10;
    -webkit-order: 9;
        -ms-flex-order: 9;
            order: 9;
  }
  .l-grid-8\@sm {
    padding-left: 15px;
    padding-right: 15px;
    width: 66.66666667%;
  }
  .l-grid-offset-8\@sm {
    margin-left: 66.66666667%;
  }
  .l-grid-order-8\@sm {
    -webkit-box-ordinal-group: 9;
    -webkit-order: 8;
        -ms-flex-order: 8;
            order: 8;
  }
  .l-grid-7\@sm {
    padding-left: 15px;
    padding-right: 15px;
    width: 58.33333333%;
  }
  .l-grid-offset-7\@sm {
    margin-left: 58.33333333%;
  }
  .l-grid-order-7\@sm {
    -webkit-box-ordinal-group: 8;
    -webkit-order: 7;
        -ms-flex-order: 7;
            order: 7;
  }
  .l-grid-6\@sm {
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
  }
  .l-grid-offset-6\@sm {
    margin-left: 50%;
  }
  .l-grid-order-6\@sm {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6;
  }
  .l-grid-5\@sm {
    padding-left: 15px;
    padding-right: 15px;
    width: 41.66666667%;
  }
  .l-grid-offset-5\@sm {
    margin-left: 41.66666667%;
  }
  .l-grid-order-5\@sm {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5;
  }
  .l-grid-4\@sm {
    padding-left: 15px;
    padding-right: 15px;
    width: 33.33333333%;
  }
  .l-grid-offset-4\@sm {
    margin-left: 33.33333333%;
  }
  .l-grid-order-4\@sm {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
  }
  .l-grid-3\@sm {
    padding-left: 15px;
    padding-right: 15px;
    width: 25%;
  }
  .l-grid-offset-3\@sm {
    margin-left: 25%;
  }
  .l-grid-order-3\@sm {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
  .l-grid-2\@sm {
    padding-left: 15px;
    padding-right: 15px;
    width: 16.66666667%;
  }
  .l-grid-offset-2\@sm {
    margin-left: 16.66666667%;
  }
  .l-grid-order-2\@sm {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .l-grid-1\@sm {
    padding-left: 15px;
    padding-right: 15px;
    width: 8.33333333%;
  }
  .l-grid-offset-1\@sm {
    margin-left: 8.33333333%;
  }
  .l-grid-order-1\@sm {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (min-width: 768px) {
  .l-grid\@md {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
  .l-grid-12\@md {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
  .l-grid-order-12\@md {
    -webkit-box-ordinal-group: 13;
    -webkit-order: 12;
        -ms-flex-order: 12;
            order: 12;
  }
  .l-grid-11\@md {
    padding-left: 15px;
    padding-right: 15px;
    width: 91.66666667%;
  }
  .l-grid-offset-11\@md {
    margin-left: 91.66666667%;
  }
  .l-grid-order-11\@md {
    -webkit-box-ordinal-group: 12;
    -webkit-order: 11;
        -ms-flex-order: 11;
            order: 11;
  }
  .l-grid-10\@md {
    padding-left: 15px;
    padding-right: 15px;
    width: 83.33333333%;
  }
  .l-grid-offset-10\@md {
    margin-left: 83.33333333%;
  }
  .l-grid-order-10\@md {
    -webkit-box-ordinal-group: 11;
    -webkit-order: 10;
        -ms-flex-order: 10;
            order: 10;
  }
  .l-grid-9\@md {
    padding-left: 15px;
    padding-right: 15px;
    width: 75%;
  }
  .l-grid-offset-9\@md {
    margin-left: 75%;
  }
  .l-grid-order-9\@md {
    -webkit-box-ordinal-group: 10;
    -webkit-order: 9;
        -ms-flex-order: 9;
            order: 9;
  }
  .l-grid-8\@md {
    padding-left: 15px;
    padding-right: 15px;
    width: 66.66666667%;
  }
  .l-grid-offset-8\@md {
    margin-left: 66.66666667%;
  }
  .l-grid-order-8\@md {
    -webkit-box-ordinal-group: 9;
    -webkit-order: 8;
        -ms-flex-order: 8;
            order: 8;
  }
  .l-grid-7\@md {
    padding-left: 15px;
    padding-right: 15px;
    width: 58.33333333%;
  }
  .l-grid-offset-7\@md {
    margin-left: 58.33333333%;
  }
  .l-grid-order-7\@md {
    -webkit-box-ordinal-group: 8;
    -webkit-order: 7;
        -ms-flex-order: 7;
            order: 7;
  }
  .l-grid-6\@md {
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
  }
  .l-grid-offset-6\@md {
    margin-left: 50%;
  }
  .l-grid-order-6\@md {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6;
  }
  .l-grid-5\@md {
    padding-left: 15px;
    padding-right: 15px;
    width: 41.66666667%;
  }
  .l-grid-offset-5\@md {
    margin-left: 41.66666667%;
  }
  .l-grid-order-5\@md {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5;
  }
  .l-grid-4\@md {
    padding-left: 15px;
    padding-right: 15px;
    width: 33.33333333%;
  }
  .l-grid-offset-4\@md {
    margin-left: 33.33333333%;
  }
  .l-grid-order-4\@md {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
  }
  .l-grid-3\@md {
    padding-left: 15px;
    padding-right: 15px;
    width: 25%;
  }
  .l-grid-offset-3\@md {
    margin-left: 25%;
  }
  .l-grid-order-3\@md {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
  .l-grid-2\@md {
    padding-left: 15px;
    padding-right: 15px;
    width: 16.66666667%;
  }
  .l-grid-offset-2\@md {
    margin-left: 16.66666667%;
  }
  .l-grid-order-2\@md {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .l-grid-1\@md {
    padding-left: 15px;
    padding-right: 15px;
    width: 8.33333333%;
  }
  .l-grid-offset-1\@md {
    margin-left: 8.33333333%;
  }
  .l-grid-order-1\@md {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (min-width: 960px) {
  .l-grid\@lg {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
  .l-grid-12\@lg {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
  .l-grid-order-12\@lg {
    -webkit-box-ordinal-group: 13;
    -webkit-order: 12;
        -ms-flex-order: 12;
            order: 12;
  }
  .l-grid-11\@lg {
    padding-left: 15px;
    padding-right: 15px;
    width: 91.66666667%;
  }
  .l-grid-offset-11\@lg {
    margin-left: 91.66666667%;
  }
  .l-grid-order-11\@lg {
    -webkit-box-ordinal-group: 12;
    -webkit-order: 11;
        -ms-flex-order: 11;
            order: 11;
  }
  .l-grid-10\@lg {
    padding-left: 15px;
    padding-right: 15px;
    width: 83.33333333%;
  }
  .l-grid-offset-10\@lg {
    margin-left: 83.33333333%;
  }
  .l-grid-order-10\@lg {
    -webkit-box-ordinal-group: 11;
    -webkit-order: 10;
        -ms-flex-order: 10;
            order: 10;
  }
  .l-grid-9\@lg {
    padding-left: 15px;
    padding-right: 15px;
    width: 75%;
  }
  .l-grid-offset-9\@lg {
    margin-left: 75%;
  }
  .l-grid-order-9\@lg {
    -webkit-box-ordinal-group: 10;
    -webkit-order: 9;
        -ms-flex-order: 9;
            order: 9;
  }
  .l-grid-8\@lg {
    padding-left: 15px;
    padding-right: 15px;
    width: 66.66666667%;
  }
  .l-grid-offset-8\@lg {
    margin-left: 66.66666667%;
  }
  .l-grid-order-8\@lg {
    -webkit-box-ordinal-group: 9;
    -webkit-order: 8;
        -ms-flex-order: 8;
            order: 8;
  }
  .l-grid-7\@lg {
    padding-left: 15px;
    padding-right: 15px;
    width: 58.33333333%;
  }
  .l-grid-offset-7\@lg {
    margin-left: 58.33333333%;
  }
  .l-grid-order-7\@lg {
    -webkit-box-ordinal-group: 8;
    -webkit-order: 7;
        -ms-flex-order: 7;
            order: 7;
  }
  .l-grid-6\@lg {
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
  }
  .l-grid-offset-6\@lg {
    margin-left: 50%;
  }
  .l-grid-order-6\@lg {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6;
  }
  .l-grid-5\@lg {
    padding-left: 15px;
    padding-right: 15px;
    width: 41.66666667%;
  }
  .l-grid-offset-5\@lg {
    margin-left: 41.66666667%;
  }
  .l-grid-order-5\@lg {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5;
  }
  .l-grid-4\@lg {
    padding-left: 15px;
    padding-right: 15px;
    width: 33.33333333%;
  }
  .l-grid-offset-4\@lg {
    margin-left: 33.33333333%;
  }
  .l-grid-order-4\@lg {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
  }
  .l-grid-3\@lg {
    padding-left: 15px;
    padding-right: 15px;
    width: 25%;
  }
  .l-grid-offset-3\@lg {
    margin-left: 25%;
  }
  .l-grid-order-3\@lg {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
  .l-grid-2\@lg {
    padding-left: 15px;
    padding-right: 15px;
    width: 16.66666667%;
  }
  .l-grid-offset-2\@lg {
    margin-left: 16.66666667%;
  }
  .l-grid-order-2\@lg {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .l-grid-1\@lg {
    padding-left: 15px;
    padding-right: 15px;
    width: 8.33333333%;
  }
  .l-grid-offset-1\@lg {
    margin-left: 8.33333333%;
  }
  .l-grid-order-1\@lg {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
}
/* # Modules

Code from here on describes modules. Each module is designed to be stand-alone,
meaning that it has no other module dependancies (although it may rely on base
rules, utility, layout and helper classes).
*/
/* ## Input boxes

Controls the styling of input boxes.

The basic `noinput` class creates an input that appears invisible. The more
regular `input` class adding all the expected styling to an input box.

    <p><input type="text" value="Unstyled"></p>
    <p><input type="text" value="Invisible" class="noinput"></p>
    <p><input type="text" value="Styled" class="input"></p>

*/
.noinput,
.input {
  -moz-appearance: textfield;
  border: none;
  display: inline-block;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}
.noinput::-webkit-outer-spin-button,
.noinput::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.noinput::-webkit-input-placeholder,
.input::-webkit-input-placeholder {
  color: #808080;
}
.noinput:-moz-placeholder,
.input:-moz-placeholder {
  color: #808080;
  opacity: 1;
}
.noinput::-moz-placeholder,
.input::-moz-placeholder {
  color: #808080;
  opacity: 1;
}
.noinput:-ms-input-placeholder,
.input:-ms-input-placeholder {
  color: #808080;
}
.noinput:focus,
.input:focus {
  outline: none;
}
.input {
  border: 1px solid #999999;
  padding: 5px 10px;
}
.input:focus {
  border-color: #F00;
}
.input--full {
  width: 100%;
}
/* ## Buttons

Simply CSS-based buttons. Designed to work on anchors (`<a>`), buttons
(`<button>`) and spans (`<span>`) the same. Be aware that is it **not** designed
to work with `<input type="submit">` - use `<button type="submit">` instead.

    <p><a href="#" class="button">Anchor</a></p>
    <p><button type="button" class="button">Button</button></p>
    <p><span class="button">span</span></p>

*/
.nobutton,
.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.nobutton::-moz-focus-inner,
.button::-moz-focus-inner {
  border: none;
  padding: 0;
}
.nobutton:focus,
.nobutton:hover,
.nobutton.is-hover,
.button:focus,
.button:hover,
.button.is-hover {
  text-decoration: none;
}
.button {
  font-weight: bold;
  padding: 5px 10px;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  background-color: #e6e6e6;
  color: #666666;
}
.button:active,
.button.is-active {
  background-image: none;
  box-shadow: inset 0 3.5px 7px rgba(0, 0, 0, 0.125);
  outline: 0;
}
.button[disabled],
.button.is-disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
.button:focus,
.button:hover,
.button.is-hover {
  background-color: #f9f9f9;
  color: #666666;
}
.button:active,
.button.is-active {
  background-color: #d9d9d9;
}
.button--block {
  display: block;
  width: 100%;
}
.button--success {
  background-color: #5CB85C;
  color: #ffffff;
}
.button--success:focus,
.button--success:hover,
.button--success.is-hover {
  background-color: #77c477;
  color: #ffffff;
}
.button--success:active,
.button--success.is-active {
  background-color: #4cae4c;
}
.button--info {
  background-color: #5BC0DE;
  color: #ffffff;
}
.button--info:focus,
.button--info:hover,
.button--info.is-hover {
  background-color: #7bcce4;
  color: #ffffff;
}
.button--info:active,
.button--info.is-active {
  background-color: #46b8da;
}
.button--warning {
  background-color: #F0AD4E;
  color: #ffffff;
}
.button--warning:focus,
.button--warning:hover,
.button--warning.is-hover {
  background-color: #f3bd71;
  color: #ffffff;
}
.button--warning:active,
.button--warning.is-active {
  background-color: #eea236;
}
.button--danger {
  background-color: #D9534F;
  color: #ffffff;
}
.button--danger:focus,
.button--danger:hover,
.button--danger.is-hover {
  background-color: #e0726e;
  color: #ffffff;
}
.button--danger:active,
.button--danger.is-active {
  background-color: #d43f3a;
}
.button--primary {
  background-color: #F00;
  color: #ffffff;
}
.button--primary:focus,
.button--primary:hover,
.button--primary.is-hover {
  background-color: #ff2626;
  color: #ffffff;
}
.button--primary:active,
.button--primary.is-active {
  background-color: #e60000;
}
.button--secondary {
  background-color: #0F0;
  color: #ffffff;
}
.button--secondary:focus,
.button--secondary:hover,
.button--secondary.is-hover {
  background-color: #26ff26;
  color: #ffffff;
}
.button--secondary:active,
.button--secondary.is-active {
  background-color: #00e600;
}
.button--tertiary {
  background-color: #00F;
  color: #ffffff;
}
.button--tertiary:focus,
.button--tertiary:hover,
.button--tertiary.is-hover {
  background-color: #2626ff;
  color: #ffffff;
}
.button--tertiary:active,
.button--tertiary.is-active {
  background-color: #0000e6;
}
/* # Helper classes

Helper classes are designed to override modules in a site-consisten way. They
override one or two styles at a time, mainly existing to remove the strain from
the modules as well as being able to fix small rendering errors quickly.
*/
/* ## Text colours

Designed as helper classes, written at the end of the style sheet so that they
can override modules if necessary. They simply set the text colour to the
defined class.

    <p class="t-white">"white" colour</p>
    <p class="t-lighter-grey">"lighter-grey" colour</p>
    <p class="t-light-grey">"light-grey" colour</p>
    <p class="t-grey">"grey" colour</p>
    <p class="t-dark-grey">"dark-grey" colour</p>
    <p class="t-darker-grey">"darker-grey" colour</p>
    <p class="t-darkest-grey">"darkest-grey" colour</p>
    <p class="t-black">"black" colour</p>

    <p class="t-success">"success" colour</p>
    <p class="t-info">"info" colour</p>
    <p class="t-warning">"warning" colour</p>
    <p class="t-danger">"danger" colour</p>
    <p class="t-primary">"primary" colour</p>
    <p class="t-secondary">"secondary" colour</p>
    <p class="t-tertiary">"tertiary" colour</p>
    <p class="t-quaternary">"quaternary" colour</p>

## Background colours

Like the text colours, these colours allow elements to gain the background
colour specified.

    <div class="b-white">"white" colour</div>
    <div class="b-lighter-grey">"lighter-grey" colour</div>
    <div class="b-light-grey">"light-grey" colour</div>
    <div class="b-grey">"grey" colour</div>
    <div class="b-dark-grey">"dark-grey" colour</div>
    <div class="b-darker-grey">"darker-grey" colour</div>
    <div class="b-darkest-grey">"darkest-grey" colour</div>
    <div class="b-black">"black" colour</div>

    <div class="b-success">"success" colour</div>
    <div class="b-info">"info" colour</div>
    <div class="b-warning">"warning" colour</div>
    <div class="b-danger">"danger" colour</div>
    <div class="b-primary">"primary" colour</div>
    <div class="b-secondary">"secondary" colour</div>
    <div class="b-tertiary">"tertiary" colour</div>
    <div class="b-quaternary">"quaternary" colour</div>

 */
.t-white {
  color: #ffffff;
}
.b-white {
  background-color: #ffffff;
}
.t-lighter-grey {
  color: #cccccc;
}
.b-lighter-grey {
  background-color: #cccccc;
}
.t-light-grey {
  color: #999999;
}
.b-light-grey {
  background-color: #999999;
}
.t-grey {
  color: #808080;
}
.b-grey {
  background-color: #808080;
}
.t-dark-grey {
  color: #666666;
}
.b-dark-grey {
  background-color: #666666;
}
.t-darker-grey {
  color: #333333;
}
.b-darker-grey {
  background-color: #333333;
}
.t-darkest-grey {
  color: #191919;
}
.b-darkest-grey {
  background-color: #191919;
}
.t-black {
  color: #000000;
}
.b-black {
  background-color: #000000;
}
.t-success {
  color: #5CB85C;
}
.b-success {
  background-color: #5CB85C;
}
.t-info {
  color: #5BC0DE;
}
.b-info {
  background-color: #5BC0DE;
}
.t-warning {
  color: #F0AD4E;
}
.b-warning {
  background-color: #F0AD4E;
}
.t-danger {
  color: #D9534F;
}
.b-danger {
  background-color: #D9534F;
}
.t-secondary {
  color: #0F0;
}
.b-secondary {
  background-color: #0F0;
}
.t-tertiary {
  color: #00F;
}
.b-tertiary {
  background-color: #00F;
}
