// Variables
// =============================================================================


// Fonts
// -----------------------------------------------------------------------------

@base-font-size:        14px;
@base-line-height:      unit(20 / @base-font-size);
@line-height-computed:  @base-font-size * @base-line-height;

@base-font-family:      Arial, Helvetica, sans-serif;
@heading-font-family:   @base-font-family;

@font-size-h1:          floor(@base-font-size * 2.3);  // 32px approx
@font-size-h2:          floor(@base-font-size * 2);    // 28px
@font-size-h3:          floor(@base-font-size * 1.8);  // 25px approx 
@font-size-h4:          floor(@base-font-size * 1.5);  // 21px
@font-size-h5:          floor(@base-font-size * 1.3);  // 18px approx
@font-size-h6:          floor(@base-font-size * 1.15); // 16px approx


// Borders
// -----------------------------------------------------------------------------

@border-thin:   1px;
@border-medium: 2px;
@border-thick:  3px;


// Colours
// -----------------------------------------------------------------------------

// Always comment after the colour hex code with the colour name - it helps
// work out what the colour is quickly.

@white:             darken(#FFF,   0); // #FFFFFF
@lightest-grey:     darken(#FFF,  10); // #E6E6E6   
@lighter-grey:      darken(#FFF,  20); // #CCCCCC
@light-grey:        darken(#FFF,  40); // #999999
@grey:              darken(#FFF,  50); // #808080
@dark-grey:         darken(#FFF,  60); // #666666
@darker-grey:       darken(#FFF,  80); // #333333
@darkest-grey:      darken(#FFF,  90); // #191919
@black:             darken(#FFF, 100); // #000000

@brand-success:     #5CB85C; // Green
@brand-info:        #5BC0DE; // Blue
@brand-warning:     #F0AD4E; // Yellow
@brand-danger:      #D9534F; // Red

// Uncommenting one of the colours? Uncomment the associated rules in:
// - modules/button.less
// - helper/text and background.less

@brand-primary:         #F00; // Red
@brand-secondary:       #0F0; // Green
@brand-tertiary:        #00F; // Blue
//@brand-quaternary:      #FF0; // Yellow
//@brand-quinary:         #F0F; // Purple
//@brand-senary:          #0FF; // Cyan
//@brand-septenary:       #FFF; // White
//@brand-octonary:        #000; // Black
//@brand-nonary:          #CCC; // Light grey
//@brand-denary:          #999; // Mid grey

@link-colour:           @brand-primary;
@link-colour-hover:     darken(@brand-primary, 10);


// Media queries
// -----------------------------------------------------------------------------

@screen-sm-min:     480px;
@screen-md-min:     768px;
@screen-lg-min:     960px;

@screen-xs-max:     @screen-sm-min - 1;
@screen-sm-max:     @screen-md-min - 1;
@screen-md-max:     @screen-lg-min - 1;


// Body
// -----------------------------------------------------------------------------

@body-bg:           @white;
@body-colour:       @darker-grey;


// Grid system
// -----------------------------------------------------------------------------

@grid-columns:      12;
@grid-gutter:       30px;


// Buttons
// -----------------------------------------------------------------------------

@button-active-shadow:  inset 0 (@base-font-size / 4) (@base-font-size / 2) rgba(0, 0, 0, .125);
@button-padding:        (0.25 * @line-height-computed) (0.5 * @line-height-computed);


// Input
// -----------------------------------------------------------------------------

@input-padding:     (0.25 * @line-height-computed) (0.5 * @line-height-computed);
@input-border:      @border-thin solid @light-grey;
@input-colour:      @grey;
