// Variables
// =============================================================================


// Fonts
// -----------------------------------------------------------------------------

@base-font-size:    14;
@base-line-height:  1.2;
@base-font-unit:    px;
@base-unit-amount:  @base-font-size * @base-line-height;
@base-unit:         unit(@base-unit-amount, @base-font-unit);

@base-font-family:      Arial, Helvetica, sans-serif;
@heading-font-family:   @base-font-family;


// Borders
// -----------------------------------------------------------------------------

@border-thin:   1px;
@border-medium: 2px;
@border-thick:  3px;


// Colours
// -----------------------------------------------------------------------------

@white:         darken(#FFF,   0); // #FFFFFF
@lighter-grey:  darken(#FFF,  10); // #E6E6E6   
@light-grey:    darken(#FFF,  20); // #CCCCCC
@grey:          darken(#FFF,  40); // #999999
@dark-grey:     darken(#FFF,  60); // #666666
@darker-grey:   darken(#FFF,  80); // #333333
@darkest-grey:  darken(#FFF,  90); // #191919
@black:         darken(#FFF, 100); // #000000

@success:       #5CB85C; // Green
@info:          #5BC0DE; // Blue
@warning:       #F0AD4E; // Yellow
@danger:        #D9534F; // Red

@primary:       #F00;
@secondary:     #0F0;
@tertiary:      #00F;
@quaternary:    #FF0;
//@quinary:       #F0F;
//@senary:        #0FF;
//@septenary:     #FFF;
//@octonary:      #000;
//@nonary:        #CCC;
//@denary:        #999;