/* ## Buttons

Simply CSS-based buttons. Designed to work on anchors (`<a>`), buttons
(`<button>`) and spans (`<span>`) the same. Be aware that is it **not** designed
to work with `<input type="submit">` - use `<button type="submit">` instead.

    <p><a href="#" class="button">Anchor</a></p>
    <p><button type="button" class="button">Button</button></p>
    <p><span class="button">span</span></p>

*/

.nobutton {

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color:   transparent;
    border:             none;
    cursor:             pointer;
    display:            inline-block;
    font-family:        inherit;
    font-size:          inherit;
    line-height:        inherit;

    &::-moz-focus-inner {
        border:  none;
        padding: 0;
    }

    &:focus,
    &:hover,
    &.is-hover {
        text-decoration: none;
    }

}

.button:extend(.nobutton all) {

    font-weight:    bold;
    padding:        @button-padding;
    text-transform: uppercase;
    user-select:    none;
    white-space:    nowrap;

    &:active,
    &.is-active {
        background-image: none;
        box-shadow:       @button-active-shadow;
        outline:          0;
    }

    &[disabled],
    &.is-disabled {
        cursor:         not-allowed;
        opacity:        0.5;
        pointer-events: none;
    }

    .button-variant(@lightest-grey, @dark-grey);

}

.button--block {
    display: block;
    width:   100%;
}

.button--success    { .button-variant(@brand-success,    @white); }
.button--info       { .button-variant(@brand-info,       @white); }
.button--warning    { .button-variant(@brand-warning,    @white); }
.button--danger     { .button-variant(@brand-danger,     @white); }
.button--primary    { .button-variant(@brand-primary,    @white); }
.button--secondary  { .button-variant(@brand-secondary,  @white); }
.button--tertiary   { .button-variant(@brand-tertiary,   @white); }
//.button--quaternary { .button-variant(@brand-quaternary, @white); }
//.button--quinary    { .button-variant(@brand-quinary,    @white); }
//.button--senary     { .button-variant(@brand-senary,     @white); }
//.button--septenary  { .button-variant(@brand-septenary,  @white); }
//.button--octonary   { .button-variant(@brand-octonary,   @white); }
//.button--nonary     { .button-variant(@brand-nonary,     @white); }
//.button--denary     { .button-variant(@brand-denary,     @white); }
