/* ## Bulletless lists

Removes bullet points from a list. Works on unordered lists (`<ul>`) and ordered
lists (`<ol>`) the same.

    <ul class="u-bulletless">
        <li>alpha</li>
        <li>bravo</li>
        <li>charlie</li>
    </ul>

*/

.u-bulletless {
    list-style-type: none;
    margin-left:     0;
}


/* ## Inline lists

Removes the bullet points from a list _and_ floats the list items.

    <ul class="u-inlinelist">
        <li>alpha</li>
        <li>bravo</li>
        <li>charlie</li>
    </ul>

*/

.u-inlinelist:extend(.u-bulletless) {
    display:        flex;
    flex-direction: row;
}


/* ## Border lists

Makes the elements appear next to one-another and places a border in-between
each of them.

    <ul class="u-borderlist">
        <li>alpha</li>
        <li>bravo</li>
        <li>charlie</li>
    </ul>

*/

.u-borderlist:extend(.u-inlinelist all) {

    border-color: currentcolor;

    > * {

        border-color:      inherit;
        border-left-style: solid;
        border-width:      @border-thin;
        margin-left:       (@line-height-computed * 0.5);
        padding-left:      (@line-height-computed * 0.5);

        &:first-child {
            border-left-style: none;
            margin-left:       0;
            padding-left:      0;
        }

    }

}
