/* ## Vertical alignments

Vertically aligns test. There are three varients:

- `u-verttop` - Vertically aligns at the top.
- `u-vertmid` - Vertically aligns at the middle.
- `u-vertbottom` - Vertically aligns at the bottom.

    <div class="u-verttop" style="border: 1px dotted red; padding: 1em;">
        <p>alpha</p>
        <p>bravo<br>charlie</p>
    </div>

    <div class="u-vertmid" style="border: 1px dotted red; padding: 1em;">
        <p>alpha</p>
        <p>bravo<br>charlie</p>
    </div>

    <div class="u-vertbottom" style="border: 1px dotted red; padding: 1em;">
        <p>alpha</p>
        <p>bravo<br>charlie</p>
    </div>

*/

.u-verttop {
    align-items:    flex-start;
    display:        flex;
    flex-direction: row;
}

.u-vertmid,
.u-vertmiddle {
    align-items:    center;
    display:        flex;
    flex-direction: row;
}

.u-vertbot,
.u-vertbottom {
    align-items:    flex-end;
    display:        flex;
    flex-direction: row;
}
